blinker==1.9.0
certifi==2025.4.26
charset-normalizer==3.4.2
cheroot==10.0.1
click==8.1.8
Flask==3.1.1
Flask-SQLAlchemy==3.1.1
greenlet==3.2.2
gTTS==2.5.4
idna==3.10
itsdangerous==2.2.0
jaraco.functools==4.1.0
Jinja2==3.1.6
Markdown==3.8
MarkupSafe==3.0.2
more-itertools==10.7.0
numpy==2.2.5
opencv-python==4.11.0.86
pandas==2.2.3
pygame==2.6.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
six==1.17.0
SQLAlchemy==2.0.40
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
web.py==0.40
Werkzeug==3.1.3
